# Build artifacts
build/
dist/
*.spec

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.idea/
.vscode/
*.swp
*.swo

# Virtual environments
venv/
.venv/
env/
